* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

ul.octodex {
  width: 100%;
  display: inline;
  position: relative;
  list-style: none;
  padding: 0;
}

li.octocat {
  width: 24%;
  height: 350px;
  float: left;
  margin: 0 8px;
  position: relative;
}

div.image-footer {
  position: relative;
  margin-top: 5px;
  height: 35px;
  border-bottom: solid rgb(226, 226, 226) 2px;
}

span.image-number {
  float: left;
  margin-top: 9px;
  color: rgb(226, 226, 226);
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
  font-size: .8em;
  font-weight: bold;
}

div.image-caption {
  position: relative;
  float: right;
  width: 80%;
  text-align: right;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
  font-size: .8em;
  line-height: 28px;
}

div.image-caption span,
div.image-caption a {
  margin-top: 10px;
}

div.image-caption span {
  color: rgb(94, 94, 94);
}

div.image-caption a {
  position: relative;
  color: black;
  font-weight: bold;
}

ul.authors {
  float: right;
  padding: 0;
}

ul.authors li{
  display: block;
  float: right;
}

ul.authors li a img {
  height: 25px;
  width: 25px;
  border-radius: 5px;
}

li.octocat a img {
  width: 100%;
  border: solid rgb(226, 226, 226) 1px;
  border-radius: 2px;
}

a {
  text-decoration: none;
}





